In [2]:
import os
import argparse
import yaml
import aniposelib
import cv2
import numpy as np

In [3]:
board = aniposelib.boards.CharucoBoard(squaresX=6,
                                            squaresY=6,
                                            square_length=24.33,
                                            marker_length=17,
                                            marker_bits=5,
                                            dict_size=50)

In [4]:
base_path = "/Users/etytel01/Documents/2025/triangulate"

calibration_videos = ["raw data/CharucoPostCalib_LateralOrtho.mp4", 
                      "raw data/CharucoPostCalib_LateralOffAxis.mp4"]
camera_names = ["ortho", "offaxis"]

In [5]:
camgroup = aniposelib.cameras.CameraGroup.from_names(camera_names)

In [6]:
vidnames = [[os.path.join(base_path, vid)] for vid in calibration_videos]

In [7]:
err, rows = camgroup.calibrate_videos(vidnames, board, 
                                init_intrinsics=True, init_extrinsics=True, 
                                verbose=True)

/Users/etytel01/Documents/2025/triangulate/raw data/CharucoPostCalib_LateralOrtho.mp4

100%|█████████████████████████████████| 50/50 [00:25<00:00,  1.98it/s]

50 boards detected
/Users/etytel01/Documents/2025/triangulate/raw data/CharucoPostCalib_LateralOffAxis.mp4

100%|█████████████████████████████████| 50/50 [00:12<00:00,  4.04it/s]

50 boards detected
[{'name': 'ortho', 'size': [2560, 904], 'matrix': [[4248.632751205015, 0.0, 1279.5], [0.0, 4248.632751205015, 451.5], [0.0, 0.0, 1.0]], 'distortions': [0.0, 0.0, 0.0, 0.0, 0.0], 'rotation': [0.0, 0.0, 0.0], 'translation': [0.0, 0.0, 0.0]}, {'name': 'offaxis', 'size': [2560, 904], 'matrix': [[23183.00324297493, 0.0, 1279.5], [0.0, 23183.00324297493, 451.5], [0.0, 0.0, 1.0]], 'distortions': [0.0, 0.0, 0.0, 0.0, 0.0], 'rotation': [0.0, 0.0, 0.0], 'translation': [0.0, 0.0, 0.0]}]
defaultdict(<class 'int'>, {('ortho', 'offaxis'): 50, ('offaxis', 'ortho'): 50})

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

error:  3.730651106333889
n_samples: 200
{(0, 1): (1000, array([0.78048962, 8.36250983]))}
error: 3.61, mu: 8.4, ratio: 0.750
   Iteration     Total nfev        Cost      Cost reduction    Step norm     Optimality
       0              1         2.9208e+04                                    8.13e+05
       1              3         7.7670e+03      2.14e+04       1.21e+03       5.46e+05
       2              4         4.5942e+03      3.17e+03       9.01e+02       2.02e+06
       3              5         2.1234e+03      2.47e+03       3.24e+02       7.53e+05
       4              6         6.6827e+02      1.46e+03       4.32e+02       1.02e+05
       5              8         4.4743e+02      2.21e+02       5.99e+02       1.22e+05
       6              9         3.2675e+02      1.21e+02       1.33e+03       4.85e+04
       7             10         2.9254e+02      3.42e+01       3.19e+03       3.60e+05
       8             11         1.6302e+02      1.30e+02       2.21e+02       5.84e+03
       9             12         1.4065e+02      2.24e+01       7.68e+02       5.05e+03
      10             13         1.3516e+02      5.49e+00       1.60e+03       2.27e+05
      11             14         1.1023e+02      2.49e+01       1.90e+02       7.14e+03
      12             15         1.0295e+02      7.28e+00       3.78e+02       3.66e+03
      13             16         9.7234e+01      5.72e+00       5.93e+02       7.19e+04
      14             17         9.6735e+01      4.99e-01       1.37e+03       2.06e+05
      15             18         7.7028e+01      1.97e+01       1.26e+02       4.43e+03
      16             19         7.2951e+01      4.08e+00       3.26e+02       6.13e+03
      17             20         6.9804e+01      3.15e+00       4.99e+02       3.67e+04
      18             22         6.6883e+01      2.92e+00       2.45e+02       1.44e+04
      19             23         6.3432e+01      3.45e+00       4.63e+02       5.56e+04
      20             25         6.0207e+01      3.23e+00       2.43e+02       1.32e+04
      21             26         5.6511e+01      3.70e+00       4.67e+02       4.89e+04
      22             28         5.3800e+01      2.71e+00       2.19e+02       1.40e+04
      23             29         5.0512e+01      3.29e+00       4.39e+02       4.81e+04
      24             31         4.8004e+01      2.51e+00       2.03e+02       1.41e+04
      25             32         4.5122e+01      2.88e+00       4.08e+02       4.66e+04
      26             34         4.2780e+01      2.34e+00       1.89e+02       1.44e+04
      27             35         4.0240e+01      2.54e+00       3.79e+02       4.44e+04
      28             36         3.6949e+01      3.29e+00       4.04e+02       4.56e+04
      29             38         3.4832e+01      2.12e+00       1.66e+02       9.83e+03
      30             39         3.2951e+01      1.88e+00       3.32e+02       4.55e+04
      31             40         3.0082e+01      2.87e+00       3.46e+02       4.63e+04
      32             41         2.7650e+01      2.43e+00       3.16e+02       4.30e+04
      33             42         2.5338e+01      2.31e+00       2.97e+02       4.34e+04
      34             43         2.3183e+01      2.15e+00       2.82e+02       4.25e+04
      35             44         2.1103e+01      2.08e+00       2.71e+02       4.54e+04
      36             45         1.9155e+01      1.95e+00       2.59e+02       4.88e+04
      37             46         1.7362e+01      1.79e+00       2.50e+02       5.29e+04
      38             47         1.5622e+01      1.74e+00       2.43e+02       5.45e+04
      39             48         1.4022e+01      1.60e+00       2.36e+02       5.51e+04
      40             49         1.2590e+01      1.43e+00       2.30e+02       5.59e+04
      41             50         1.1320e+01      1.27e+00       2.24e+02       5.66e+04
      42             51         1.0223e+01      1.10e+00       2.18e+02       5.74e+04
      43             52         9.3077e+00      9.15e-01       2.12e+02       5.82e+04
      44             53         8.5891e+00      7.19e-01       2.06e+02       5.92e+04
      45             54         8.0546e+00      5.34e-01       2.02e+02       5.96e+04
      46             55         6.8973e+00      1.16e+00       1.28e+02       2.58e+04
      47             57         6.6431e+00      2.54e-01       4.98e+01       2.93e+03
      48             59         6.6174e+00      2.57e-02       2.45e+01       4.90e+02
      49             60         6.5875e+00      2.99e-02       4.91e+01       3.02e+03
      50             62         6.5710e+00      1.65e-02       2.45e+01       3.90e+02
      51             63         6.5586e+00      1.24e-02       4.87e+01       2.63e+03
      52             64         6.5473e+00      1.13e-02       4.18e+01       2.10e+03
      53             65         6.5448e+00      2.58e-03       2.55e+00       3.71e+02
      54             66         6.5440e+00      7.88e-04       2.05e+00       7.79e+01
      55             67         6.5433e+00      6.99e-04       3.27e+00       1.31e+02
      56             68         6.5426e+00      6.74e-04       2.21e+00       1.66e+01
      57             69         6.5419e+00      6.54e-04       3.46e+00       1.00e+01
`ftol` termination condition is satisfied.
Function evaluations 69, initial cost 2.9208e+04, final cost 6.5419e+00, first-order optimality 1.00e+01.
{(0, 1): (1000, array([0.02873668, 0.18015998]))}
   Iteration     Total nfev        Cost      Cost reduction    Step norm     Optimality
       0              1         3.5743e+07                                    4.92e+04
       1              2         1.3678e+04      3.57e+07       2.32e+04       1.76e+05
       2              3         1.3884e+03      1.23e+04       5.23e+02       1.32e+06
       3              4         8.6078e+02      5.28e+02       6.39e+02       1.56e+06
       4              5         4.4770e+01      8.16e+02       1.13e+02       1.38e+04
       5              6         4.1518e+01      3.25e+00       7.86e+00       2.98e+02
       6              8         4.1500e+01      1.73e-02       4.70e+01       2.24e+04
       7              9         4.1443e+01      5.69e-02       1.91e+00       3.79e+02
       8             11         4.1427e+01      1.61e-02       1.21e+01       2.77e+03
       9             12         4.1425e+01      2.77e-03       3.41e+00       1.99e+02
`ftol` termination condition is satisfied.
Function evaluations 12, initial cost 3.5743e+07, final cost 4.1425e+01, first-order optimality 1.99e+02.
{(0, 1): (1000, array([0.02695347, 0.17039072]))}
error:  0.09752404990829755

In [8]:
import pandas as pd

In [36]:
rows[1][10]

{'framenum': (0, 10),
 'corners': array([[[1868.9321 ,  273.12195]],

        [[1867.5101 ,  374.6826 ]],

        [[1866.1089 ,  476.22525]],

        [[1864.8169 ,  577.3016 ]],

        [[1863.3452 ,  678.49225]],

        [[1778.5266 ,  270.96143]],

        [[1777.251  ,  372.993  ]],

        [[1775.7319 ,  474.6296 ]],

        [[1774.7117 ,  575.99506]],

        [[1772.9788 ,  677.201  ]],

        [[1688.2626 ,  269.07895]],

        [[1686.7427 ,  370.96265]],

        [[1685.5338 ,  472.92877]],

        [[1684.3578 ,  574.2934 ]],

        [[1682.6245 ,  675.9146 ]],

        [[1597.4132 ,  266.96252]],

        [[1596.1985 ,  369.1731 ]],

        [[1595.0884 ,  471.10806]],

        [[1593.813  ,  572.8161 ]],

        [[1592.2412 ,  674.3189 ]]], dtype=float32),
 'ids': array([[ 5],
        [ 6],
        [ 7],
        [ 8],
        [ 9],
        [10],
        [11],
        [12],
        [13],
        [14],
        [15],
        [16],
        [17],
        [18],
        [19],
        [20],
        [21],
        [22],
        [23],
        [24]], dtype=int32),
 'filled': array([[[          nan,           nan]],

        [[          nan,           nan]],

        [[          nan,           nan]],

        [[          nan,           nan]],

        [[          nan,           nan]],

        [[1868.93212891,  273.12194824]],

        [[1867.51013184,  374.68258667]],

        [[1866.10888672,  476.22525024]],

        [[1864.81689453,  577.30157471]],

        [[1863.34521484,  678.49224854]],

        [[1778.52661133,  270.96142578]],

        [[1777.25097656,  372.99301147]],

        [[1775.73193359,  474.62960815]],

        [[1774.71166992,  575.99505615]],

        [[1772.97875977,  677.20098877]],

        [[1688.26257324,  269.07894897]],

        [[1686.74267578,  370.96264648]],

        [[1685.53381348,  472.92877197]],

        [[1684.35778809,  574.293396  ]],

        [[1682.62451172,  675.91461182]],

        [[1597.41320801,  266.96252441]],

        [[1596.19848633,  369.1730957 ]],

        [[1595.08837891,  471.10806274]],

        [[1593.81298828,  572.81610107]],

        [[1592.24121094,  674.31890869]]]),
 'rvec': array([[-0.3640264 ],
        [-0.3513469 ],
        [ 1.55692232]]),
 'tvec': array([[ 185.5198826 ],
        [ -66.2663322 ],
        [5588.85468642]])}

In [33]:
row_idx = pd.MultiIndex.from_product([['ortho'], [10], rows[1][10]['ids'][:,0]], names=['cammera', 'frame', 'id'])

In [34]:
pd.DataFrame(data = np.squeeze(rows[1][10]['corners']), index=row_idx, columns=['x', 'y'])

                            x           y
cammera frame id
ortho   10    5   1868.932129  273.121948
              6   1867.510132  374.682587
              7   1866.108887  476.225250
              8   1864.816895  577.301575
              9   1863.345215  678.492249
              10  1778.526611  270.961426
              11  1777.250977  372.993011
              12  1775.731934  474.629608
              13  1774.711670  575.995056
              14  1772.978760  677.200989
              15  1688.262573  269.078949
              16  1686.742676  370.962646
              17  1685.533813  472.928772
              18  1684.357788  574.293396
              19  1682.624512  675.914612
              20  1597.413208  266.962524
              21  1596.198486  369.173096
              22  1595.088379  471.108063
              23  1593.812988  572.816101
              24  1592.241211  674.318909

In [51]:
df_all = []
for cam1, rows_cam in zip(camera_names, rows):
    df_cam = []
    col_idx = pd.MultiIndex.from_product([[cam1], ['x', 'y']],
                                         names = ['camera', 'coordinate'])
    for pts1 in rows_cam:
        fr1 = pts1['framenum'][1]
        row_idx = pd.MultiIndex.from_product([[fr1], pts1['ids'][:,0]], 
                                             names=['frame', 'id'])
        df_cam.append(pd.DataFrame(data = np.squeeze(pts1['corners']), 
                                   index=row_idx, 
                                   columns=col_idx))
    df_all.append(pd.concat(df_cam))

df_all = pd.concat(df_all, axis=1)

In [52]:
df_all.loc[10,]

/var/folders/rs/r2xck00j2td2g2w0g6s_t2lx370bnk/T/ipykernel_34241/3993001286.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_all.loc[10,]

camera            ortho                  offaxis
coordinate            x           y            x           y
id
0           2383.910400  212.464844          NaN         NaN
1           2386.089844  302.352295          NaN         NaN
2           2388.261230  391.994934          NaN         NaN
3           2390.149658  481.438751          NaN         NaN
4           2392.192627  570.858337          NaN         NaN
5           2331.333984  210.131561  1868.932129  273.121948
6           2333.493652  301.327972  1867.510132  374.682587
7           2336.008301  392.621033  1866.108887  476.225250
8           2337.855469  483.205566  1864.816895  577.301575
9           2340.186279  574.256104  1863.345215  678.492249
10          2277.187744  207.828873  1778.526611  270.961426
11          2279.653809  300.591522  1777.250977  372.993011
12          2282.073730  392.957397  1775.731934  474.629608
13          2283.983643  485.178314  1774.711670  575.995056
14          2286.017090  577.446960  1772.978760  677.200989
15          2221.591064  205.329712  1688.262573  269.078949
16          2223.988037  299.513855  1686.742676  370.962646
17          2226.197754  393.672089  1685.533813  472.928772
18          2228.371338  487.057556  1684.357788  574.293396
19          2230.525391  581.023071  1682.624512  675.914612
20          2164.012207  202.770828  1597.413208  266.962524
21          2166.380859  298.384338  1596.198486  369.173096
22          2168.774170  394.082855  1595.088379  471.108063
23          2171.115723  489.243195  1593.812988  572.816101
24          2173.167480  584.581177  1592.241211  674.318909